@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("./mixins.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  code {
    font-family: "JetBrains Mono", monospace !important;
  }

  .opacity-layer-2 {
    background-color: #f6f4f1;
    opacity: 0.9;
    position: relative;
  }
  .opacity-layer {
    width: 100%;
    height: 30%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      hsl(var(--background)) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .theme {
    --animate-grid: grid 15s linear infinite;
  }
}
.inset-shadow-xs {
  --tw-inset-shadow: inset 0 1px 1px var(--tw-inset-shadow-color, #0000000d);
}
.inset-ring {
  --tw-inset-ring-shadow: inset 0 0 0 1px
    var(--tw-inset-ring-color, currentColor);
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 4.9% 83.9%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5.9% 10%;
    --muted-foreground: 240 4.4% 58%;
    --accent: 240 5.9% 10%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 3.8% 46.1%;
  }
}

/* Default (for larger screens like desktops) */
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -0.04em;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  letter-spacing: -0.04em;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.04em;
}
p {
  font-size: 1.01rem;
  line-height: 1.4rem;
  font-weight: normal;
}

/* Tablet (between 768px and 1024px) */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
    line-height: 2.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.8em;
    line-height: 2.1rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.4em;
    line-height: 1.9rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: normal;
  }
  p {
    font-size: 0.95rem;
    line-height: 1.3rem;
    font-weight: normal;
  }
}

/* Mobile (below 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    line-height: 2.2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5em;
    line-height: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.2em;
    line-height: 1.8rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
  }
  h5 {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: normal;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: normal;
  }
}

@layer base {
  :root {
    --brand: 210 100% 50%;
    --brand-foreground: 213 100% 60%;
  }
  .dark {
    --brand: 213 100% 60%;
    --brand-foreground: 210 100% 50%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
}