@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap");
@import url("./mixins.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  code {
    font-family: "JetBrains Mono", monospace !important;
  }

  .opacity-layer-2 {
    background-color: #f6f4f1;
    opacity: 0.9;
    position: relative;
  }
  .opacity-layer {
    width: 100%;
    height: 20%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      hsl(var(--background)) 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@layer base {
  :root {
    --background: 240 2% 98%;
    --foreground: 240 8% 15%;
    --card: 240 3% 95%;
    --card-foreground: 240 8% 15%;
    --popover: 240 3% 95%;
    --popover-foreground: 240 8% 15%;
    --primary: 240 5% 20%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4% 85%;
    --secondary-foreground: 240 8% 15%;
    --muted: 240 4% 85%;
    --muted-foreground: 240 6% 35%;
    --accent: 240 4% 85%;
    --accent-foreground: 240 8% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 80%;
    --input: 240 5% 80%;
    --ring: 240 6% 25%;
    --radius: 0.5rem;
    --scrollbar: #cccccc;
  }

  .dark {
    --background: 240 8% 10%;
    --foreground: 0 0% 98%;
    --card: 240 9% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 240 9% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 6% 25%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 20%;
    --muted-foreground: 240 7% 50%;
    --accent: 240 5% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 40% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 240 6% 60%;
    --scrollbar: #999999;
  }
}

/* Default (for larger screens like desktops) */
h1 {
  font-size: 3em;
  font-weight: bold;
  line-height: 3rem;
  letter-spacing: -0.04em;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  line-height: 2.3rem;
  letter-spacing: -0.04em;
}
h3 {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -0.04em;
}
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: bold;
  letter-spacing: -0.04em;
}
h5 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: -0.04em;
}
p {
  font-size: 1.01rem;
  line-height: 1.4rem;
  font-weight: normal;
}

/* Tablet (between 768px and 1024px) */
@media (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
    line-height: 2.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.8em;
    line-height: 2.1rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.4em;
    line-height: 1.9rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: bold;
  }
  h5 {
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: normal;
  }
  p {
    font-size: 0.95rem;
    line-height: 1.3rem;
    font-weight: normal;
  }
}

/* Mobile (below 768px) */
@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    line-height: 2.2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5em;
    line-height: 2rem;
    font-weight: bold;
  }
  h3 {
    font-size: 1.2em;
    line-height: 1.8rem;
    font-weight: bold;
  }
  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
  }
  h5 {
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: normal;
  }
  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    font-weight: normal;
  }
}
